USE [CMS]
GO
/****** Object:  Table [dbo].[MAINTAINING_BALANCE]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAINTAINING_BALANCE](
	[SavingsAccountTypeId] [int] NOT NULL,
	[MaintainingBalance] [decimal](18, 2) NOT NULL,
	[ServiceChargeValue] [decimal](18, 2) NOT NULL,
	[ServiceChargeStatus] [varchar](20) NULL,
	[ChargeDurationValue] [int] NOT NULL,
	[ChargeDurationStatus] [varchar](20) NULL,
 CONSTRAINT [PK_MAINTAINING_BALANCE] PRIMARY KEY CLUSTERED 
(
	[SavingsAccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MAINTAINING_BALANCE]  WITH CHECK ADD  CONSTRAINT [FK_MAINTAINING_BALANCE_SAVINGS_ACCOUNT_TYPE] FOREIGN KEY([SavingsAccountTypeId])
REFERENCES [dbo].[SAVINGS_ACCOUNT_TYPE] ([AccountTypeId])
GO
ALTER TABLE [dbo].[MAINTAINING_BALANCE] CHECK CONSTRAINT [FK_MAINTAINING_BALANCE_SAVINGS_ACCOUNT_TYPE]
GO
