USE [CMS]
GO
/****** Object:  Table [dbo].[TIME_DEPOSIT_DETAILS]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIME_DEPOSIT_DETAILS](
	[CertificateNo] [varchar](15) NOT NULL,
	[Penalty] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_TIME_DEPOSIT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[CertificateNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TIME_DEPOSIT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TIME_DEPOSIT_DETAILS_TIME_DEPOSIT] FOREIGN KEY([CertificateNo])
REFERENCES [dbo].[TIME_DEPOSIT] ([CertificateNo])
GO
ALTER TABLE [dbo].[TIME_DEPOSIT_DETAILS] CHECK CONSTRAINT [FK_TIME_DEPOSIT_DETAILS_TIME_DEPOSIT]
GO
