USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_TYPE_SAVINGS_TYPE]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER_TYPE_SAVINGS_TYPE](
	[AccountTypeId] [int] NOT NULL,
	[MemberTypeNo] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_MEMBER_TYPE_SAVINGS_TYPE] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC,
	[MemberTypeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MEMBER_TYPE_SAVINGS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_TYPE_SAVINGS_TYPE_MEMBER_TYPE] FOREIGN KEY([MemberTypeNo])
REFERENCES [dbo].[MEMBER_TYPE] ([MemberTypeNo])
GO
ALTER TABLE [dbo].[MEMBER_TYPE_SAVINGS_TYPE] CHECK CONSTRAINT [FK_MEMBER_TYPE_SAVINGS_TYPE_MEMBER_TYPE]
GO
ALTER TABLE [dbo].[MEMBER_TYPE_SAVINGS_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_TYPE_SAVINGS_TYPE_SAVINGS_ACCOUNT_TYPE] FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[SAVINGS_ACCOUNT_TYPE] ([AccountTypeId])
GO
ALTER TABLE [dbo].[MEMBER_TYPE_SAVINGS_TYPE] CHECK CONSTRAINT [FK_MEMBER_TYPE_SAVINGS_TYPE_SAVINGS_ACCOUNT_TYPE]
GO
