USE [CMS]
GO
/****** Object:  Table [dbo].[EARLY_WITHDRAWAL]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EARLY_WITHDRAWAL](
	[EarlyWithdrawalId] [int] IDENTITY(1,1) NOT NULL,
	[BalanceDurationValue] [int] NOT NULL,
	[BalanceDurationStatus] [varchar](50) NOT NULL,
	[PenaltyValue] [decimal](18, 2) NOT NULL,
	[PenaltyStatus] [varchar](50) NOT NULL,
	[MinimumRange] [decimal](18, 2) NOT NULL,
	[MaximumRange] [decimal](18, 2) NULL,
	[Status] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[AccountTypeId] [int] NULL,
 CONSTRAINT [PK_TIME_DEPOSIT] PRIMARY KEY CLUSTERED 
(
	[EarlyWithdrawalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EARLY_WITHDRAWAL] ADD  CONSTRAINT [DF_TIME_DEPOSIT_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[EARLY_WITHDRAWAL]  WITH CHECK ADD  CONSTRAINT [FK_TIME_DEPOSIT_SAVINGS_ACCOUNT_TYPE1] FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[SAVINGS_ACCOUNT_TYPE] ([AccountTypeId])
GO
ALTER TABLE [dbo].[EARLY_WITHDRAWAL] CHECK CONSTRAINT [FK_TIME_DEPOSIT_SAVINGS_ACCOUNT_TYPE1]
GO
