USE [CMS]
GO
/****** Object:  Table [dbo].[PROPERTY_COLLATERAL]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROPERTY_COLLATERAL](
	[CollateralId] [int] IDENTITY(1,1) NOT NULL,
	[LoanApplicationId] [int] NOT NULL,
	[SerialNo] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Condition] [varchar](30) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[YearAcquired] [int] NOT NULL,
	[AcquiredAmount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PROPERTY_COLLATERAL_1] PRIMARY KEY CLUSTERED 
(
	[CollateralId] ASC,
	[LoanApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PROPERTY_COLLATERAL]  WITH CHECK ADD  CONSTRAINT [FK_PROPERTY_COLLATERAL_LOAN_APPLICATION] FOREIGN KEY([LoanApplicationId])
REFERENCES [dbo].[LOAN_INFORMATION] ([LoanApplicationId])
GO
ALTER TABLE [dbo].[PROPERTY_COLLATERAL] CHECK CONSTRAINT [FK_PROPERTY_COLLATERAL_LOAN_APPLICATION]
GO
