USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_TYPE_FEE]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER_TYPE_FEE](
	[MemberTypeNo] [int] NOT NULL,
	[FeeId] [int] NOT NULL,
 CONSTRAINT [PK_MEMBER_TYPE_FEE] PRIMARY KEY CLUSTERED 
(
	[MemberTypeNo] ASC,
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MEMBER_TYPE_FEE]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_TYPE_FEE_FEE] FOREIGN KEY([FeeId])
REFERENCES [dbo].[FEE] ([FeeId])
GO
ALTER TABLE [dbo].[MEMBER_TYPE_FEE] CHECK CONSTRAINT [FK_MEMBER_TYPE_FEE_FEE]
GO
ALTER TABLE [dbo].[MEMBER_TYPE_FEE]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_TYPE_FEE_MEMBER_TYPE] FOREIGN KEY([MemberTypeNo])
REFERENCES [dbo].[MEMBER_TYPE] ([MemberTypeNo])
GO
ALTER TABLE [dbo].[MEMBER_TYPE_FEE] CHECK CONSTRAINT [FK_MEMBER_TYPE_FEE_MEMBER_TYPE]
GO
