USE [CMS]
GO
/****** Object:  Table [dbo].[LOAN_TYPE_CHARGES]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN_TYPE_CHARGES](
	[LoanTypeId] [int] NOT NULL,
	[ChargeId] [int] NOT NULL,
 CONSTRAINT [PK_LOAN_TYPE_CHARGES] PRIMARY KEY CLUSTERED 
(
	[LoanTypeId] ASC,
	[ChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOAN_TYPE_CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_TYPE_CHARGES_CHARGES] FOREIGN KEY([ChargeId])
REFERENCES [dbo].[CHARGES] ([ChargeId])
GO
ALTER TABLE [dbo].[LOAN_TYPE_CHARGES] CHECK CONSTRAINT [FK_LOAN_TYPE_CHARGES_CHARGES]
GO
ALTER TABLE [dbo].[LOAN_TYPE_CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_TYPE_CHARGES_LOAN_TYPE] FOREIGN KEY([LoanTypeId])
REFERENCES [dbo].[LOAN_TYPE] ([LoanTypeId])
GO
ALTER TABLE [dbo].[LOAN_TYPE_CHARGES] CHECK CONSTRAINT [FK_LOAN_TYPE_CHARGES_LOAN_TYPE]
GO
