USE [CMS]
GO
/****** Object:  Table [dbo].[PAYMENT_FEE]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_FEE](
	[ORNo] [int] NOT NULL,
	[FeeId] [int] NOT NULL,
 CONSTRAINT [PK_PAYMENT_FEE] PRIMARY KEY CLUSTERED 
(
	[ORNo] ASC,
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PAYMENT_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_FEE_FEE] FOREIGN KEY([FeeId])
REFERENCES [dbo].[FEE] ([FeeId])
GO
ALTER TABLE [dbo].[PAYMENT_FEE] CHECK CONSTRAINT [FK_PAYMENT_FEE_FEE]
GO
ALTER TABLE [dbo].[PAYMENT_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_FEE_MEMBERSHIP_PAYMENT] FOREIGN KEY([ORNo])
REFERENCES [dbo].[PAYMENT] ([ORNo])
GO
ALTER TABLE [dbo].[PAYMENT_FEE] CHECK CONSTRAINT [FK_PAYMENT_FEE_MEMBERSHIP_PAYMENT]
GO
