USE [CMS]
GO
/****** Object:  Table [dbo].[TERMINATION]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TERMINATION](
	[TerminationId] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [varchar](20) NOT NULL,
	[Details] [varchar](20) NOT NULL,
	[AccountNo] [varchar](15) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NOT NULL,
 CONSTRAINT [PK_TERMINATION] PRIMARY KEY CLUSTERED 
(
	[TerminationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TERMINATION]  WITH CHECK ADD  CONSTRAINT [FK_TERMINATION_MEMBER] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[MEMBER] ([AccountNo])
GO
ALTER TABLE [dbo].[TERMINATION] CHECK CONSTRAINT [FK_TERMINATION_MEMBER]
GO
