USE [CMS]
GO
/****** Object:  Table [dbo].[LOAN_AMNESTY]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN_AMNESTY](
	[LoanTypeId] [int] NOT NULL,
	[AmnestyId] [int] NOT NULL,
 CONSTRAINT [PK_LOAN_AMNESTY] PRIMARY KEY CLUSTERED 
(
	[LoanTypeId] ASC,
	[AmnestyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOAN_AMNESTY]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_AMNESTY_AMNESTY] FOREIGN KEY([AmnestyId])
REFERENCES [dbo].[AMNESTY] ([AmnestyId])
GO
ALTER TABLE [dbo].[LOAN_AMNESTY] CHECK CONSTRAINT [FK_LOAN_AMNESTY_AMNESTY]
GO
ALTER TABLE [dbo].[LOAN_AMNESTY]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_AMNESTY_LOAN_TYPE] FOREIGN KEY([LoanTypeId])
REFERENCES [dbo].[LOAN_TYPE] ([LoanTypeId])
GO
ALTER TABLE [dbo].[LOAN_AMNESTY] CHECK CONSTRAINT [FK_LOAN_AMNESTY_LOAN_TYPE]
GO
