USE [CMS]
GO
/****** Object:  Table [dbo].[DORMANCY]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DORMANCY](
	[AccountTypeId] [int] NOT NULL,
	[PenaltyValue] [decimal](18, 2) NOT NULL,
	[PenaltyStatus] [varchar](20) NOT NULL,
	[DormancyValue] [int] NOT NULL,
	[DormancyStatus] [varchar](20) NOT NULL,
	[ChargeDurationValue] [int] NOT NULL,
	[ChargeDurationStatus] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DORMANCY] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DORMANCY]  WITH CHECK ADD  CONSTRAINT [FK_DORMANCY_SAVINGS_ACCOUNT_TYPE] FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[SAVINGS_ACCOUNT_TYPE] ([AccountTypeId])
GO
ALTER TABLE [dbo].[DORMANCY] CHECK CONSTRAINT [FK_DORMANCY_SAVINGS_ACCOUNT_TYPE]
GO
