USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_SAVINGS_ACCOUNT]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_SAVINGS_ACCOUNT](
	[MemberAccountNo] [varchar](15) NOT NULL,
	[SavingsAccountNo] [varchar](15) NOT NULL,
 CONSTRAINT [PK_MEMBER_SAVINGS_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[MemberAccountNo] ASC,
	[SavingsAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_SAVINGS_ACCOUNT_MEMBER] FOREIGN KEY([MemberAccountNo])
REFERENCES [dbo].[MEMBER] ([AccountNo])
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_ACCOUNT] CHECK CONSTRAINT [FK_MEMBER_SAVINGS_ACCOUNT_MEMBER]
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_SAVINGS_ACCOUNT_SAVINGS_ACCOUNT] FOREIGN KEY([SavingsAccountNo])
REFERENCES [dbo].[SAVINGS_ACCOUNT] ([SavingsAccountNo])
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_ACCOUNT] CHECK CONSTRAINT [FK_MEMBER_SAVINGS_ACCOUNT_SAVINGS_ACCOUNT]
GO
