USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_SAVINGS_PASSBOOK]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_SAVINGS_PASSBOOK](
	[SavingsPassbookNo] [int] NOT NULL,
	[SavingsAccountNo] [varchar](15) NOT NULL,
	[Status] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_MEMBER_SAVINGS_PASSBOOK_1] PRIMARY KEY CLUSTERED 
(
	[SavingsPassbookNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_PASSBOOK] ADD  CONSTRAINT [DF_MEMBER_SAVINGS_PASSBOOK_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_PASSBOOK]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_SAVINGS_PASSBOOK_MEMBER_SAVINGS_PASSBOOK] FOREIGN KEY([SavingsAccountNo])
REFERENCES [dbo].[SAVINGS_ACCOUNT] ([SavingsAccountNo])
GO
ALTER TABLE [dbo].[MEMBER_SAVINGS_PASSBOOK] CHECK CONSTRAINT [FK_MEMBER_SAVINGS_PASSBOOK_MEMBER_SAVINGS_PASSBOOK]
GO
