USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_SHARECAPITAL]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_SHARECAPITAL](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[accountNo] [varchar](15) NOT NULL,
	[ShareCapital] [decimal](18, 2) NOT NULL,
	[DateOfTransaction] [datetime] NOT NULL,
 CONSTRAINT [PK_MEMBER_SHARECAPITAL] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MEMBER_SHARECAPITAL] ADD  CONSTRAINT [DF_MEMBER_SHARECAPITAL_DateOfTransaction]  DEFAULT (getdate()) FOR [DateOfTransaction]
GO
ALTER TABLE [dbo].[MEMBER_SHARECAPITAL]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_SHARECAPITAL_MEMBER] FOREIGN KEY([accountNo])
REFERENCES [dbo].[MEMBER] ([AccountNo])
GO
ALTER TABLE [dbo].[MEMBER_SHARECAPITAL] CHECK CONSTRAINT [FK_MEMBER_SHARECAPITAL_MEMBER]
GO
