USE [CMS]
GO
/****** Object:  Table [dbo].[MINIMUM_CAPITAL_CONTRIBUTION]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MINIMUM_CAPITAL_CONTRIBUTION](
	[MinCapitalContributionId] [int] IDENTITY(1,1) NOT NULL,
	[MemberTypeNo] [int] NOT NULL,
	[MinimumContribution] [decimal](10, 2) NOT NULL,
	[Duration] [varchar](20) NOT NULL,
	[isArchived] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MINIMUM_CAPITAL_CONTRIBUTION_1] PRIMARY KEY CLUSTERED 
(
	[MinCapitalContributionId] ASC,
	[MemberTypeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MINIMUM_CAPITAL_CONTRIBUTION]  WITH CHECK ADD  CONSTRAINT [FK_MINIMUM_CAPITAL_CONTRIBUTION_MEMBER_TYPE] FOREIGN KEY([MemberTypeNo])
REFERENCES [dbo].[MEMBER_TYPE] ([MemberTypeNo])
GO
ALTER TABLE [dbo].[MINIMUM_CAPITAL_CONTRIBUTION] CHECK CONSTRAINT [FK_MINIMUM_CAPITAL_CONTRIBUTION_MEMBER_TYPE]
GO
