USE [CMS]
GO
/****** Object:  Table [dbo].[LOAN_TYPE_PENALTY]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN_TYPE_PENALTY](
	[LoanTypeId] [int] NOT NULL,
	[PenaltyId] [int] NOT NULL,
 CONSTRAINT [PK_LOAN_TYPE_PENALTY] PRIMARY KEY CLUSTERED 
(
	[LoanTypeId] ASC,
	[PenaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOAN_TYPE_PENALTY]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_TYPE_PENALTY_LOAN_TYPE] FOREIGN KEY([LoanTypeId])
REFERENCES [dbo].[LOAN_TYPE] ([LoanTypeId])
GO
ALTER TABLE [dbo].[LOAN_TYPE_PENALTY] CHECK CONSTRAINT [FK_LOAN_TYPE_PENALTY_LOAN_TYPE]
GO
ALTER TABLE [dbo].[LOAN_TYPE_PENALTY]  WITH CHECK ADD  CONSTRAINT [FK_LOAN_TYPE_PENALTY_PENALTY] FOREIGN KEY([PenaltyId])
REFERENCES [dbo].[PENALTY] ([PenaltyId])
GO
ALTER TABLE [dbo].[LOAN_TYPE_PENALTY] CHECK CONSTRAINT [FK_LOAN_TYPE_PENALTY_PENALTY]
GO
