USE [CMS]
GO
/****** Object:  Table [dbo].[MEMBER_LOAN_PASSBOOK]    Script Date: 08/01/2014 22:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_LOAN_PASSBOOK](
	[LoanPassbookNo] [int] NOT NULL,
	[AccountNo] [varchar](15) NOT NULL,
	[Status] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_MEMBER_LOAN_PASSBOOK] PRIMARY KEY CLUSTERED 
(
	[LoanPassbookNo] ASC,
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MEMBER_LOAN_PASSBOOK]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_LOAN_PASSBOOK_MEMBER] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[MEMBER] ([AccountNo])
GO
ALTER TABLE [dbo].[MEMBER_LOAN_PASSBOOK] CHECK CONSTRAINT [FK_MEMBER_LOAN_PASSBOOK_MEMBER]
GO
